html, body {
  margin: 0;
  padding: 0;
  background: white;
  color: #222;
}

.siteHeader {
  background: #5181a3;
  color: white;
}
H1 {
  Color: Black;
  font-family: Impact, Georgia, Verdana, Serif, Sans-serif;
}
