h1 {
  color: #5181a3;
  font-family: Impact, Georgia, Verdana, Serif, Sans-serif;
}

a {
  color:#5181a3;
  text-decoration: none;
  
  transition: color .3s;
  -moz-transition: color .3s;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
}

a:hover {
  color:#999999;
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}
